/* NOTES

Color
    Gold #ffd700
    White #f5f5f7
    Black #1d1d1f
    Gray #484848

    Shadow #1d1d1fa0
    White Shadow #f5f5f7b4

Text Padding
    25-30rem

Fonts
    Descriptions - OpenSans
    Titles - Montserrat
    
*/





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: mon;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: opens;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

body{
    background-color: #f5f5f7;
    position: relative;
    font-family: opens;
}

html{
    scroll-behavior: smooth;
}





/* OVERALL */

button:hover{
    transform: scale(1.1);
}





/* NAVIGATION */

.navsec-main{
    width: 100%;
    height: 60rem;
    background-color: green;

    background-size: cover;
    background-position: center;

    animation-name: navsec-background;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

    @keyframes navsec-background{
        0%{background-image: url(Images/Navigation/bazaar-nav-image-one.webp);
        }
        20%{background-image: url(Images/Navigation/bazaar-nav-image-two.webp);
        }
        40%{background-image: url(Images/Navigation/bazaar-nav-image-three.webp);
        }
        60%{background-image: url(Images/Navigation/bazaar-nav-image-four.webp);
        }
        80%{background-image: url(Images/Navigation/bazaar-nav-image-five.webp);
        }
        100%{background-image: url(Images/Navigation/bazaar-nav-image-one.webp);
        }
    }

.navsec-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;

    font-family: mon;
}

    .navsec-company{
        display: flex;
        flex-direction: column;

        font-size: 2rem;
    }

        .navsec-company span{
            color: #f5f5f7;
            font-weight: bold;
        }

    .navsec-nav{
        display: flex;
        gap: 2rem;

        list-style: none;
    }

        .navsec-nav li a{
            color: #f5f5f7;
            text-decoration: none;
        }

.navsec-social{
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;

    position: absolute;
    top: 56.5rem;
}

    .navsec-social li{
        width: 2.5rem;
        height: 2.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #f5f5f7b4;
        border-radius: 2rem;

        opacity: 50%;
    }

    .navsec-social li a{
        font-size: 1.5rem;
        text-decoration: none;
        color: #f5f5f7;
    }

.navsec-nav li, .navsec-social li{
    transition: all 0.2s;
}

.navsec-nav li:hover, .navsec-social li:hover{
    transform: scale(1.1);
    opacity: 80%;
}

.navsec-nav-current a{
    border-bottom: solid 0.15rem;
}





/* BAZAAR ONE */

.bazone-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 3rem;
}

    .bazone-title-main{
        font-size: 5rem;
        font-weight: 400;
        font-family: mon;
    }

    .bazone-main h1{
        position: absolute;
        font-size: 2rem;
        top: 4.5rem;
        right: 9rem;
        transition: all 0.2s;
    }

    .bazone-main h1:hover{
        transition: all 0.2s;
        transform: scale(1.1);
    }
    
    .bazone-main a{
        color: #1d1d1f;
    }

    .bazone-main h2{
        position: absolute;
        font-size: 2rem;
        top: 4.5rem;
        right: 5rem;
        transition: all 0.2s;
    }

    .bazone-main h2:hover{
        transition: all 0.2s;
        transform: scale(1.1);
    }

    .bazone-main ul{
        display: flex;
        gap: 3rem;
        padding-bottom: 3rem;
    }

    .bazone-main ul li:hover{
        transition: all 0.2s;
        transform: scale(1.2);
    }

    .bazone-main ul li{
        list-style: none;
        transition: all 0.2s;
    }


    .bazone-main ul li a{
        font-family: mon;
        text-decoration: none;
        font-weight: 500;
    }





/* BAZAAR TWO */

.baztwo-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baztwo-main span{
    transition: all 0.2s;
}

.baztwo-main span:hover{
    transform: scale(1.1);
}



.baztwo-two{
    width: 60rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .baztwo-two span{
        font-size: 2rem;
        font-weight: 600;
        font-family: mon;
        padding-bottom: 1rem;
    }

    .baztwo-two p{
        color: #1d1d1f;
        font-size: 1.2rem;
        text-align: center;
    }



.baztwo-three{
    display: flex;
    gap: 1rem;
    padding-bottom: 5rem;
}

.baztwo-three div{
    width: 25rem;
    display: flex;
    flex-direction: column;
}

.baztwo-three img{
    width: 25rem;
    height: 40rem;

    border-radius: 0.3rem;
}

.baztwo-three span, .baztwo-three a{
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    font-size: 1.5rem;
    text-decoration: none;
    color: #1d1d1f;
    font-family: mon;
    font-weight: 600;
    transition: all 0.2s;
}


    
.baztwo-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.baztwo-four span, .baztwo-four a{
    padding-top: 1rem;

    font-size: 2rem;
    text-decoration: none;
    color: #1d1d1f;
    font-family: mon;
    font-weight: 600;
    transition: all 0.2s;
}



.baztwo-five{
    display: flex;
    gap: 1rem;
    padding-bottom: 5rem;
}

.baztwo-five div{
    width: 59.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.baztwo-five img{
    width: 59.5rem;
    height: 30rem;

    border-radius: 0.3rem;
}

.baztwo-five span, .baztwo-five a{
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    font-size: 2rem;
    text-decoration: none;
    color: #1d1d1f;
    font-family: mon;
    font-weight: 600;
    transition: all 0.2s;
}



.baztwo-six{
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

.baztwo-six img{
    width: 120rem;
    height: 50rem;
}

.baztwo-six span, .baztwo-six a{
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    font-size: 2rem;
    text-decoration: none;
    color: #1d1d1f;
    font-family: mon;
    font-weight: 600;
    transition: all 0.2s;
}



.baztwo-seven{
    display: flex;
    gap: 1rem;
    padding-bottom: 5rem;
}

.baztwo-seven div{
    width: 60rem;
    display: flex;
    flex-direction: column;
}

.baztwo-seven img{
    width: 60rem;
    height: 30rem;

    border-radius: 0.3rem;
}

.baztwo-seven span, .baztwo-seven a{
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    font-size: 2rem;
    text-decoration: none;
    color: #1d1d1f;
    font-family: mon;
    font-weight: 600;
    transition: all 0.2s;
}



.baztwo-eight{
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

.baztwo-eight img{
    width: 120rem;
    height: 50rem;
}

.baztwo-eight span, .baztwo-eight a{
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    font-size: 2rem;
    text-decoration: none;
    color: #1d1d1f;
    font-family: mon;
    font-weight: 600;
    transition: all 0.2s;
}



.baztwo-nine{
    display: flex;
    gap: 2rem;
    padding-bottom: 5rem;
}

.baztwo-nine div{
    width: 20rem;
    display: flex;
    flex-direction: column;
}

.baztwo-nine img{
    width: 20rem;
    height: 20rem;
    border-radius: 0.3rem;
}

.baztwo-nine span, .baztwo-nine a{
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    font-size: 1.2rem;
    text-decoration: none;
    color: #1d1d1f;
    font-family: mon;
    font-weight: 600;
    transition: all 0.2s;
}





/* FOOTER */

.footsec-main{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 0.1rem #f5f5f7;

    background-color: #ebebeb;
}

.footsec-contact{
    width: 20rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .footsec-contact h1{
        font-size: 1.5rem;
    }

    .footsec-contact span{
        font-size: 2rem;
        padding-top: 0.7rem;
    }

.footsec-location{
    width: 25rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-right: solid 0.1rem #1d1d1f;
    border-left: solid 0.1rem #1d1d1f;
}

    .footsec-location h1{
        font-size: 1.5rem;
    }

    .footsec-location span{
        text-align: center;
        font-weight: 500;
    }

    .footsec-location button{
        border: none;
        transition: all 0.2s;
    }

    .footsec-location a{
        font-size: 0.9rem;
        font-weight: bold;
        color: #1d1d1f;
    }

.footsec-social{
    width: 20rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .footsec-social ul{
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 1rem;
    }

    .footsec-social li{
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #1d1d1f;
        border-radius: 1rem;
        transition: all 0.2s;
    }

    .footsec-social a{
        font-size: 1.1rem;
        color: #f5f5f7;
    }

    .footsec-main ul li:hover{
        transition: all 0.2s;
        transform: scale(1.1);
    }




    
/* COPYRIGHT */

.copsec-main{
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
}

.copsec-main div{
    width: 30rem;
}

    .copsec-right{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .copsec-right{
        font-size: 0.8rem;
        font-weight: 600;
        color: #1d1d1f;
        opacity: 50%;
    }

    .copsec-link{
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .copsec-link span, .copsec-link a{
        color: #1d1d1f;
        font-size: 0.8rem;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.2s;
    }

    .copsec-link span:hover{
        transition: all 0.2s;
        transform: scale(1.1);
    }

    .copsec-link h1{
        color: #1d1d1f;
        font-size: 0.8rem;
        font-weight: 500;
    }