/* NOTES

Color
    Gold #ffd700
    White #f5f5f7
    Black #1d1d1f
    Gray #484848

    Shadow #1d1d1fa0
    White Shadow #f5f5f7b4

Text Padding
    25-30rem

Fonts
    Descriptions - OpenSans
    Titles - Montserrat

*/





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: mon;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: opens;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

body{
    background-color: #f5f5f7;
    position: relative;
    font-family: opens;
}

html{
    scroll-behavior: smooth;
}





/* OVERALL */

button:hover{
    transform: scale(1.1);
}





/* NAVIGATION */

.navsec-main{
    width: 100%;
    height: 60rem;

    background-size: cover;
    background-position: center;

    animation-name: navsec-background;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

    @keyframes navsec-background{
        0%{background-image: url(Images/Navigation/col-nav-image-one.webp);
        }
        20%{background-image: url(Images/Navigation/col-nav-image-two.webp);
        }
        40%{background-image: url(Images/Navigation/col-nav-image-three.webp);
        }
        60%{background-image: url(Images/Navigation/col-nav-image-four.webp);
        }
        80%{background-image: url(Images/Navigation/col-nav-image-five.webp);
        }
        100%{background-image: url(Images/Navigation/col-nav-image-one.webp);
        }
    }

.navsec-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;

    font-family: mon;
}

    .navsec-company{
        display: flex;
        flex-direction: column;

        font-size: 2rem;
    }

        .navsec-company span{
            color: #f5f5f7;
            font-weight: bold;
        }

    .navsec-nav{
        display: flex;
        gap: 2rem;

        list-style: none;
    }

        .navsec-nav li a{
            color: #f5f5f7;
            text-decoration: none;
        }

.navsec-social{
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;

    position: absolute;
    top: 56rem;
}

    .navsec-social li{
        width: 2.5rem;
        height: 2.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #f5f5f7b4;
        border-radius: 2rem;

        opacity: 50%;
    }

    .navsec-social li a{
        font-size: 1.5rem;
        text-decoration: none;
        color: #f5f5f7;
    }

.navsec-nav li, .navsec-social li{
    transition: all 0.2s;
}

.navsec-nav li:hover, .navsec-social li:hover{
    transform: scale(1.1);
    opacity: 80%;
}

.navsec-nav-current a{
    border-bottom: solid 0.15rem;
}





/* ACCESSIBILITY */

.accsec-main{
    width: 90rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin: auto;
    display: flex;
    flex-direction: column;
}

    .accsec-title-main{
        padding-bottom: 1rem;

        font-size: 5rem;
        font-family: mon;

    }

.accsec-link{
    display: flex;
    justify-content: center;
    gap: 65rem;
}

.accsec-cat-main{
    display: flex;
    gap: 2rem;
}

    .accsec-cat-unselect a{
        text-decoration: none;
        color: #1d1d1f;
    }

    .accsec-cat-unselect span{
        color: #1d1d1f;
        opacity: 60%;
        font-family: mon;
    }

    .accsec-cat-main div{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: all 0.2s;
    }

.accsec-cat-select{
    background-color: #1d1d1f;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
}

    .accsec-cat-select a{
        text-decoration: none;
        color: #f5f5f7;
    }

    .accsec-cat-select span{
        color: #f5f5f7;
        opacity: 60%;
        font-family: mon;
    }

.accsec-filter-main{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: solid 0.1rem gray;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    transition: all 0.2s;
}

    .accsec-filter-main a{
        color: #1d1d1f;
        text-decoration: none;
        transition: all 0.2s;
    }

.accsec-cat-main div:hover{
    transform: scale(1.1);
}

.accsec-filter-main:hover{
    transform: scale(1.1);
}






/* COLLECTION */

.colsec-main{
    margin: auto;
    gap: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

    .colsec-image-square{
        width: 30rem;
        height: 30rem;
    }

    .colsec-image-portrait{
        width: 30rem;
        height: 60.4rem;
    }

    .colsec-image-pre-landscape{
        width: 45.25rem;
        height: 30rem;
    }

    .colsec-image-landscape{
        width: 60.4rem;
        height: 30rem;
    }

.colsec-group-one{
    display: flex;
    gap: 0.5rem;
}

    .colsec-group-one div{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

.colsec-group-two{
    display: flex;
    gap: 0.5rem;
}

.colsec-group-three{
    display: flex;
    gap: 0.5rem;
}

.colsec-group-four{
    display: flex;
    gap: 0.5rem;
}

    .colsec-four-main{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .colsec-four-row{
        display: flex;
        gap: 0.5rem;
    }

    .colsec-four-column{
        display: flex;
        flex-direction: column;
    }

.colsec-group-five{
    display: flex;
    gap: 0.5rem;
}

.colsec-main img:hover{
    transition: opacity 0.2s;
    opacity: 60%;
}





/* PAGE */

.pagesec-main{
    padding-top: 3rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.pagesec-main ul{
    display: flex;
    gap: 2rem;
}

.pagesec-main li{
    background-color: #1d1d1f;
    border-radius: 2rem;
    padding: 1rem 2rem;
    list-style: none;
    transition: all 0.2s;
}

.pagesec-main a{
    text-decoration: none;
    color: #f5f5f7;

}

.pagesec-page-fade{
    opacity: 40%;
}

.pagesec-main div ul li:hover{
    transform: scale(1.1);
}





/* FOOTER */

.footsec-main{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 0.1rem #f5f5f7;

    background-color: #ebebeb;
}

.footsec-contact{
    width: 20rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .footsec-contact h1{
        font-size: 1.5rem;
    }

    .footsec-contact span{
        font-size: 2rem;
        padding-top: 0.7rem;
    }

.footsec-location{
    width: 25rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-right: solid 0.1rem #1d1d1f;
    border-left: solid 0.1rem #1d1d1f;
}

    .footsec-location h1{
        font-size: 1.5rem;
    }

    .footsec-location span{
        text-align: center;
        font-weight: 500;
    }

    .footsec-location button{
        border: none;
        transition: all 0.2s;
    }

    .footsec-location a{
        font-size: 0.9rem;
        font-weight: bold;
        color: #1d1d1f;
    }

.footsec-social{
    width: 20rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .footsec-social ul{
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 1rem;
    }

    .footsec-social li{
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;

        background-color: #1d1d1f;
        border-radius: 1rem;
    }

    .footsec-social a{
        font-size: 1.1rem;
        color: #f5f5f7;
    }

    .footsec-social ul li:hover{
        transition: all 0.2s;
        transform: scale(1.1);
    }

    



/* COPYRIGHT */

.copsec-main{
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
}

.copsec-main div{
    width: 30rem;
}

    .copsec-right{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .copsec-right{
        font-size: 0.8rem;
        font-weight: 600;
        color: #1d1d1f;
        opacity: 50%;
    }

    .copsec-link{
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .copsec-link span, .copsec-link a{
        color: #1d1d1f;
        font-size: 0.8rem;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.2s;
    }

    .copsec-link h1{
        color: #1d1d1f;
        font-size: 0.8rem;
        font-weight: 500;
    }

    .copsec-link span:hover{
        transition: all 0.2s;
        transform: scale(1.1);
    }